In [2]:
import pandas as pd

file_name = 'data_files/data.xlsx'
#updates_file = 'updates.xlsx'

df = pd.read_excel(file_name, sheet_name='Data')

In [3]:
df

,company_code_n,year_month,Date,FY,Sales group_case,customer_group_code,Column1,BU Group OAC,BU Group_case,bu2,...,Indirect_direct,channel,type,new,t&m_check,special case,special case_jan,for_bu,for fy22 t&M,Horn
0,RYG,201704,2017-04-01,2017-01-01,Direct,NaN,BU,PCI,PCI Field,YY117,...,Direct,Direct,End User,NaN,no,0,0,PCI Flowmeters,NaN,NaN
1,RYG,201704,2017-04-01,2017-01-01,Direct,NaN,BU,PCI,PCI Field,YY117,...,Direct,Direct,End User,NaN,no,0,0,PCI Flowmeters,NaN,NaN
2,RYG,201704,2017-04-01,2017-01-01,Direct,NaN,BU,PCI,PCI Field,YY117,...,Direct,Direct,End User,NaN,no,0,0,PCI Flowmeters,NaN,NaN
3,RYG,201704,2017-04-01,2017-01-01,Direct,NaN,BU,PCI,PCI Field,YY117,...,Direct,Direct,End User,NaN,yes,0,0,PCI Flowmeters,NaN,NaN
4,RYG,201704,2017-04-01,2017-01-01,Direct,NaN,BU,PCI,PCI Field,YY117,...,Direct,Direct,End User,NaN,no,0,0,PCI Flowmeters,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198824,YEF-HU,202303,2023-03-01,2022-12-01,NaN,A1,PJT,Systems,Systems,111,...,Direct,Direct,End User,NaN,no,0,0,Systems&ADS,NaN,NaN
198825,YEF-I,202303,2023-03-01,2022-12-01,NaN,A1,PJT,PCI,PCI Analytics,311,...,Direct,Direct,EPC Contractor,NaN,no,0,0,PCI Analytics,NaN,NaN
198826,YEF-E,202303,2023-03-01,2022-12-01,NaN,A3,PJT,Systems,Systems,111,...,Direct,Direct,EPC Contractor,NaN,no,0,0,Systems&ADS,NaN,NaN
198827,YEF-I,202303,2023-03-01,2022-12-01,NaN,A1,PJT,PCI,PCI Analytics,311,...,Direct,Direct,EPC Contractor,NaN,no,0,0,PCI Analytics,NaN,NaN
198828,YEF-E,202303,2023-03-01,2022-12-01,NaN,A3,PJT,Systems,Systems,111,...,Direct,Direct,EPC Contractor,NaN,no,0,0,Systems&ADS,NaN,NaN

In [4]:
import numpy as np

def optimize_dataframe(df):
    """
    This function optimizes the data types of columns in a pandas dataframe for more efficient memory usage.
    
    Parameters:
    df (pandas.DataFrame): The input dataframe to optimize.
    
    Returns:
    df_optimized (pandas.DataFrame): The optimized dataframe.
    """
    
    # Get the initial memory usage of the dataframe
    initial_memory = df.memory_usage().sum() / (1024**2)
    print(f"Initial memory usage: {initial_memory:.2f} MB")
    
    # Get the data types of each column
    dtypes = df.dtypes
    
    # Create a dictionary to store the optimized data types
    optimized_dtypes = {}
    
    # Loop through each column
    for col, dtype in dtypes.iteritems():
        
        # Convert integer columns to smaller integer types if possible
        if dtype == 'int64':
            c_min = df[col].min()
            c_max = df[col].max()
            if c_min >= np.iinfo(np.int8).min and c_max <= np.iinfo(np.int8).max:
                optimized_dtypes[col] = 'int8'
            elif c_min >= np.iinfo(np.int16).min and c_max <= np.iinfo(np.int16).max:
                optimized_dtypes[col] = 'int16'
            elif c_min >= np.iinfo(np.int32).min and c_max <= np.iinfo(np.int32).max:
                optimized_dtypes[col] = 'int32'
            else:
                optimized_dtypes[col] = 'int64'
        
        # Convert float columns to smaller float types if possible
        elif dtype == 'float64':
            c_min = df[col].min()
            c_max = df[col].max()
            if c_min >= np.finfo(np.float16).min and c_max <= np.finfo(np.float16).max:
                optimized_dtypes[col] = 'float16'
            elif c_min >= np.finfo(np.float32).min and c_max <= np.finfo(np.float32).max:
                optimized_dtypes[col] = 'float32'
            else:
                optimized_dtypes[col] = 'float64'
        
        # Keep non-numeric columns as is
        else:
            optimized_dtypes[col] = dtype
    
    # Optimize the dataframe by changing the data types of columns
    df_optimized = df.astype(optimized_dtypes)
    
    # Get the optimized memory usage of the dataframe
    optimized_memory = df_optimized.memory_usage().sum() / (1024**2)
    print(f"Optimized memory usage: {optimized_memory:.2f} MB")
    
    return df_optimized

In [5]:
better = optimize_dataframe(df)

Initial memory usage: 50.06 MB
Optimized memory usage: 45.13 MB

C:\Users\30050122\AppData\Local\Temp\ipykernel_10936\1275459287.py:25: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col, dtype in dtypes.iteritems():

In [7]:
better.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198829 entries, 0 to 198828
Data columns (total 33 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   company_code_n           198829 non-null  object
 1   year_month               198829 non-null  int32
 2   Date                     198829 non-null  datetime64[ns]
 3   FY                       198829 non-null  datetime64[ns]
 4   Sales group_case         151503 non-null  object
 5   customer_group_code      187444 non-null  object
 6   Column1                  198829 non-null  object
 7   BU Group OAC             198829 non-null  object
 8   BU Group_case            198829 non-null  object
 9   bu2                      198829 non-null  object
 10  bu_n                     198829 non-null  object
 11  sales_person_n           198829 non-null  object
 12  sales_order_so           198829 non-null  int64
 13  sold_to_customer         198829 non-null  object
 14  sold_to_customer_n       198463 non-null  object
 15  sold_to_region_n         116363 non-null  object
 16  eu_industry_n            198829 non-null  object
 17  ec_eu_customer_n         198828 non-null  object
 18  eu_region_n              115887 non-null  object
 19  ec_eu_industry_n         198829 non-null  object
 20  order_intake_amount_eur  198829 non-null  float32
 21  t&m ammount              198829 non-null  float32
 22  customer_name            198829 non-null  object
 23  Indirect_direct          198829 non-null  object
 24  channel                  198829 non-null  object
 25  type                     198829 non-null  object
 26  new                      0 non-null       float64
 27  t&m_check                198829 non-null  object
 28  special case             198829 non-null  int8
 29  special case_jan         198829 non-null  int8
 30  for_bu                   198829 non-null  object
 31  for fy22 t&M             16272 non-null   object
 32  Horn                     2153 non-null    object
dtypes: datetime64[ns](2), float32(2), float64(1), int32(1), int64(1), int8(2), object(24)
memory usage: 45.1+ MB