In [6]:
import sqlite3
import pandas as pd

In [17]:
def rename_column(db_file, table_name, old_column_name, new_column_name):
    # Connect to the database
    conn = sqlite3.connect(db_file)
    cursor = conn.cursor()

    # Execute the ALTER TABLE statement to rename the column
    alter_query = f"ALTER TABLE {table_name} RENAME COLUMN {old_column_name} TO {new_column_name};"
    cursor.execute(alter_query)

    # Commit the changes and close the connection
    conn.commit()
    conn.close()

# Provide the necessary details
database_file = 'data_files/order_data.db'
table_name = 'orders'
old_column_name = "Column1"
new_column_name = "source"

# Call the function to rename the column
rename_column(database_file, table_name, old_column_name, new_column_name)

In [20]:
conn = sqlite3.connect('data_files/order_data.db')
query = "SELECT * FROM orders"
df_customers = pd.read_sql_query(query, conn)
conn.close()

In [18]:
# deleting not necessary columns from db

# Connect to the database
conn = sqlite3.connect('data_files/order_data.db')
cursor = conn.cursor()

# Define the table name
table_name = 'orders'

# Retrieve column information from sqlite_master table
cursor.execute(f"PRAGMA table_info({table_name})")
columns = cursor.fetchall()

for_text_line = []
for_columns = []
# Iterate over the columns and print the name and datatype
for column in columns:
    column_name = column[1]
    column_datatype = column[2]
    for_text_line.append(f'{column_name} {column_datatype}')
    for_columns.append(f'{column_name}')

# Close the connection
conn.close()

result = ', '.join(str(item) for item in for_text_line)
results2 = ', '.join(str(item) for item in for_columns)

print(result)
print(results2)

company_code_n TEXT, year_month INTEGER, Date TIMESTAMP, FY TIMESTAMP, Sales group_case TEXT, customer_group_code TEXT, source TEXT, BU Group OAC TEXT, BU Group_case TEXT, bu2 TEXT, bu_n TEXT, sales_person_n TEXT, sales_order_so INTEGER, sold_to_customer TEXT, sold_to_customer_n TEXT, sold_to_region_n TEXT, eu_industry_n TEXT, ec_eu_customer_n TEXT, eu_region_n TEXT, ec_eu_industry_n TEXT, order_intake_amount_eur REAL, t&m ammount REAL, customer_name TEXT, Indirect_direct TEXT, channel TEXT, type TEXT, new TEXT, t&m_check TEXT, special case INTEGER, special case_jan REAL, for_bu TEXT, for fy22 t&M TEXT, Horn TEXT
company_code_n, year_month, Date, FY, Sales group_case, customer_group_code, source, BU Group OAC, BU Group_case, bu2, bu_n, sales_person_n, sales_order_so, sold_to_customer, sold_to_customer_n, sold_to_region_n, eu_industry_n, ec_eu_customer_n, eu_region_n, ec_eu_industry_n, order_intake_amount_eur, t&m ammount, customer_name, Indirect_direct, channel, type, new, t&m_check, special case, special case_jan, for_bu, for fy22 t&M, Horn

In [19]:
necessary_columns_with_types = """company_code_n TEXT, year_month INTEGER, Date TIMESTAMP, FY TIMESTAMP, 
customer_group_code TEXT, source TEXT, bu2 TEXT, bu_n TEXT, sales_person_n TEXT, sales_order_so INTEGER, 
sold_to_customer TEXT, sold_to_customer_n TEXT, sold_to_region_n TEXT, eu_industry_n TEXT, ec_eu_customer_n TEXT, 
eu_region_n TEXT, ec_eu_industry_n TEXT, order_intake_amount_eur REAL"""

necessary_columns = """company_code_n, year_month, Date, FY, customer_group_code, source, bu2, bu_n, sales_person_n, 
sales_order_so, sold_to_customer, sold_to_customer_n, sold_to_region_n, eu_industry_n, ec_eu_customer_n, eu_region_n, 
ec_eu_industry_n, order_intake_amount_eur"""

# Connect to the database
conn = sqlite3.connect('data_files/order_data.db')
cursor = conn.cursor()

table_name = 'orders'

# Create a new table without the 'word' column
create_query = f"CREATE TABLE new_table_name ({necessary_columns_with_types})"  
    
cursor.execute(create_query)

# Copy data from the old table to the new table
copy_query = f"INSERT INTO new_table_name ({necessary_columns}) SELECT {necessary_columns} FROM {table_name}"
cursor.execute(copy_query)

# Drop the old table
drop_query = f"DROP TABLE {table_name}"
cursor.execute(drop_query)

# Rename the new table to the original table name
rename_query = f"ALTER TABLE new_table_name RENAME TO {table_name}"
cursor.execute(rename_query)

# Commit the changes and close the connection
conn.commit()
conn.close()