In [2]:
import sqlite3
import pandas as pd

In [17]:
def rename_column(db_file, table_name, old_column_name, new_column_name):
    # Connect to the database
    conn = sqlite3.connect(db_file)
    cursor = conn.cursor()

    # Execute the ALTER TABLE statement to rename the column
    alter_query = f"ALTER TABLE {table_name} RENAME COLUMN {old_column_name} TO {new_column_name};"
    cursor.execute(alter_query)

    # Commit the changes and close the connection
    conn.commit()
    conn.close()

# Provide the necessary details
database_file = 'data_files/order_data.db'
table_name = 'orders'
old_column_name = "Column1"
new_column_name = "source"

# Call the function to rename the column
rename_column(database_file, table_name, old_column_name, new_column_name)

In [27]:
conn = sqlite3.connect('data_files/order_data.db')
query = "SELECT * FROM orders"
df_customers = pd.read_sql_query(query, conn)
conn.close()

In [ ]:
# deleting not necessary columns from db

# Connect to the database
conn = sqlite3.connect('data_files/order_data.db')
cursor = conn.cursor()

# Define the table name
table_name = 'orders'

# Retrieve column information from sqlite_master table
cursor.execute(f"PRAGMA table_info({table_name})")
columns = cursor.fetchall()

for_text_line = []
for_columns = []
# Iterate over the columns and print the name and datatype
for column in columns:
    column_name = column[1]
    column_datatype = column[2]
    for_text_line.append(f'{column_name} {column_datatype}')
    for_columns.append(f'{column_name}')

# Close the connection
conn.close()

result = ', '.join(str(item) for item in for_text_line)
results2 = ', '.join(str(item) for item in for_columns)

print(result)
print(results2)

In [19]:
necessary_columns_with_types = """company_code_n TEXT, year_month INTEGER, Date TIMESTAMP, FY TIMESTAMP, 
customer_group_code TEXT, source TEXT, bu2 TEXT, bu_n TEXT, sales_person_n TEXT, sales_order_so INTEGER, 
sold_to_customer TEXT, sold_to_customer_n TEXT, sold_to_region_n TEXT, eu_industry_n TEXT, ec_eu_customer_n TEXT, 
eu_region_n TEXT, ec_eu_industry_n TEXT, order_intake_amount_eur REAL"""

necessary_columns = """company_code_n, year_month, Date, FY, customer_group_code, source, bu2, bu_n, sales_person_n, 
sales_order_so, sold_to_customer, sold_to_customer_n, sold_to_region_n, eu_industry_n, ec_eu_customer_n, eu_region_n, 
ec_eu_industry_n, order_intake_amount_eur"""

# Connect to the database
conn = sqlite3.connect('data_files/order_data.db')
cursor = conn.cursor()

table_name = 'orders'

# Create a new table without the 'word' column
create_query = f"CREATE TABLE new_table_name ({necessary_columns_with_types})"  
    
cursor.execute(create_query)

# Copy data from the old table to the new table
copy_query = f"INSERT INTO new_table_name ({necessary_columns}) SELECT {necessary_columns} FROM {table_name}"
cursor.execute(copy_query)

# Drop the old table
drop_query = f"DROP TABLE {table_name}"
cursor.execute(drop_query)

# Rename the new table to the original table name
rename_query = f"ALTER TABLE new_table_name RENAME TO {table_name}"
cursor.execute(rename_query)

# Commit the changes and close the connection
conn.commit()
conn.close()

In [ ]:
# deletion some lines from db

conn = sqlite3.connect('data_files/order_data.db')
cursor = conn.cursor()

company_name = 'Company Name'  
company_code = 'Company Code'  

query = "DELETE FROM orders WHERE sold_to_customer_n = ? AND company_code_n = ?"

cursor.execute(query, (company_name, company_code))
conn.commit()

conn.close()

Update customer database with country information

In [3]:
country_info = pd.read_excel('data_files/customer_countries.xlsx')

In [17]:
# Connect to the SQLite database
connection = sqlite3.connect('data_files/customer_data.db')
cursor = connection.cursor()

# Execute the SQL command to add the 'countries' column
table_name = 'customers'  # Replace with the actual table name
alter_query = f"ALTER TABLE {table_name} ADD COLUMN countries TEXT;"
cursor.execute(alter_query)

# Commit the changes and close the connection
connection.commit()
connection.close()

print("Column 'countries' has been added to the table successfully.")

Column 'countries' has been added to the table successfully.

In [18]:
# Connect to the SQLite database
connection = sqlite3.connect('data_files/customer_data.db')

# Iterate over each row in the dataframe
for index, row in country_info.iterrows():
    sold_to_customer = row['sold_to_customer']
    sold_to_country = row['sold_to_country_n']
    
    # Update the 'countries' column in the SQLite database for the matching 'sold_to_customer' and 'sold_to_country'
    update_query = f"UPDATE customers SET countries = '{sold_to_country}' WHERE sold_to_customer = '{sold_to_customer}';"
    connection.execute(update_query)

# Commit the changes and close the connection
connection.commit()
connection.close()

print("Column 'countries' has been updated in the database successfully.")

Column 'countries' has been updated in the database successfully.

In [3]:
conn = sqlite3.connect('data_files/customer_data.db')
query = "SELECT * FROM customers"
df_customers = pd.read_sql_query(query, conn)
conn.close()

In [23]:
# write previous pivot
writer = pd.ExcelWriter('data_files/outcome/df_customers_countries.xlsx')
df_customers.to_excel(writer, sheet_name='pivot')
writer.close()

In [ ]:
"""
conn = sqlite3.connect('data_files/order_data.db')
query = "SELECT * FROM orders"  # Replace 'tablename' with your table name
df_orders = pd.read_sql_query(query, conn)
conn.close()

conn = sqlite3.connect('data_files/order_data.db')
query = "DELETE FROM orders WHERE year_month = 202305"
conn.execute(query)
conn.commit()
conn.close()

df_orders['sold_to_customer_n'] = df_orders['sold_to_customer_n'].fillna('')
df_orders[df_orders['sold_to_customer_n'].str.contains('COMPANY')] 

conn = sqlite3.connect('data_files/order_data.db')
query = "DELETE FROM orders WHERE sold_to_customer_n LIKE '%COMPANY%'"
conn.execute(query)
conn.commit()
conn.close()"""