In [ ]:
"""

/Users/aleksejgukov/Documents/python/work

/Users/aleksejgukov/Documents/python/work/data_files

"""

In [7]:
import pandas as pd
import numpy as np


budget_df = pd.read_excel('data_files/budget_file.xlsx', sheet_name='Budget')
budget_df.sold_to_customer_0 = budget_df.sold_to_customer_0.astype('str')

In [8]:
budget_df

,Customer Number,sold_to_customer_0,Customer Name,Country,Country Name,City,Type,OI Bgt FY21,OI Bgt FY22,Comments
0,200261563.0,200261563,AB Amber Grid,LT,Lithuania,VILNIUS,VAR,0.0,0.0,End User
1,200071729.0,200071729,ABB Switzerland Ltd.IFS-S,CH,Switzerland,BADEN,VAR,30000.0,30000.0,NaN
2,200071769.0,200071769,AC SOLUTION SRL,IT,Italy,Lenno,NaN,0.0,0.0,NaN
3,200071769.0,200071769,AC SOLUTION SRL,IT,Italy,Lenno,0,0.0,0.0,NaN
4,200079037.0,200079037,ADAMA MAKHTESHIM LTD,IL,Israel,Beer Sheva,Distributer,0.0,0.0,End User
...,...,...,...,...,...,...,...,...,...,...
144,NaN,0,SONNEK Engineering,RO,Romania,NaN,OEM,0.0,150000.0,NaN
145,NaN,0,Guerra,IT,Italy,NaN,Agent,0.0,80000.0,New
146,NaN,0,Guerra,IT,Italy,NaN,distributor,0.0,20000.0,New
147,NaN,0,Baglieri Maurizio,IT,Italy,NaN,Agent,0.0,600000.0,New
148,NaN,0,New partners FY22,NaN,NaN,NaN,NaN,0.0,1883000.0,NaN