In [5]:
import pandas as pd
import sqlite3

In [6]:
conn2 = sqlite3.connect('data_files/customer_data.db')
query2 = "SELECT * FROM customers"
df2 = pd.read_sql_query(query2, conn2)
conn2.close()

conn = sqlite3.connect('data_files/customer_data_31-05-2023.db')
query = "SELECT * FROM customers"
df1 = pd.read_sql_query(query, conn)
conn.close()

In [7]:
# Create a new DataFrame where column A is not empty and column tier is empty
one_check = df2[(df2['tier'].notnull()) & (df2['tier_new'].isnull())]

In [10]:
# Connect to the SQLite database
conn = sqlite3.connect('data_files/customer_data.db')
cursor = conn.cursor()

# Update the 'tier_new' column with data from 'tier' where 'tier_new' is empty and 'tier' is not empty
update_query = """
UPDATE customers
SET tier_new = tier
WHERE tier_new IS NULL AND tier IS NOT NULL
"""

# Execute the update query
cursor.execute(update_query)

# Commit the changes to the database
conn.commit()

# Close the database connection
conn.close()

In [9]:
# Get unique values from column sold_to_customer in df1
unique_values = df1['sold_to_customer'].unique().tolist()

# Find values in df2['sold_to_customer'] that are not in the unique_values list
not_in_unique_values = df2[~df2['sold_to_customer'].isin(unique_values)]

In [10]:
len(not_in_unique_values)

72