In [22]:
"""To use this code I need Query from Access Price book and pricesheet from YGS system"""

import pandas as pd

# read in the excel file 

xlsx = pd.ExcelFile('data_files/llp.xlsx')

# dictionary to store the dataframes

dfs = {}

for sheet_name in xlsx.sheet_names:
    dfs[sheet_name] = xlsx.parse(sheet_name)

In [14]:
# another possible solution

for sheet_name in xlsx.sheet_names:
    globals()[sheet_name] = xlsx.parse(sheet_name)

In [74]:
nes_columns = ['Model Number', 'Characteristic', 'RSP-EUR', 'LLP-EUR']
rsp = 'RSP-EUR'
llp = 'LLP-EUR'

f = []
t = []
l = []

for key in dfs.keys():
    if rsp in dfs[key].columns and llp in dfs[key].columns:
        f.append(dfs[key])
    elif rsp in dfs[key].columns:
        t.append(dfs[key])
    elif llp in dfs[key].columns:
        l.append(dfs[key])

In [77]:
fin = []


for df in f:
    df = df.loc[:,['Model Number', 'Characteristic', 'RSP-EUR', 'LLP-EUR']]
    df = df[df['Characteristic'].isna()]
    fin.append(df)
for df in t:
    df = df.loc[:,['Model Number', 'Characteristic', 'RSP-EUR']]
    df = df[df['Characteristic'].isna()]
    fin.append(df)
for df in l:
    df = df.loc[:,['Model Number', 'Characteristic', 'LLP-EUR']]
    df = df[df['Characteristic'].isna()]
    fin.append(df)

In [78]:
fin[1]

           Model Number Characteristic  RSP-EUR
0       00275-0095-0001            NaN    85.93
1       00275-0096-0001            NaN   124.12
2       00275-0170-0100            NaN   181.40
3       00275-0170-0102            NaN   203.46
4       00275-0171-0102            NaN   343.69
...                 ...            ...      ...
106534           XS110A            NaN   206.34
106564            XS530            NaN   376.27
106604            XS550            NaN   303.44
106639           XS70BT            NaN    90.91
106652           XS770A            NaN   423.55

[9159 rows x 3 columns]

In [68]:
alldf = f + t + l

In [83]:
max_l = 0
for i in fin:
    if len(i) >= max_l:
        max_l = len(i)
        max_df = i

ValueError: Can only compare identically-labeled DataFrame objects

In [81]:
max_df.join()

9733

In [ ]:
#it is necessary to take Model name , Price and filter df on Characteristic == ""

ygs1 = ygs.loc[:,['Material/Model', 'Characteristic', 'TLP (Comp)(EUR)']]
pricebook1 = pricebook.loc[:,['Model_Model Number', 'Characteristic', 'Price']]

main_ygs1 = ygs1[ygs1['Characteristic'].isna()]
main_pricebook1 = pricebook1[pricebook1['Characteristic'].isna()]

df = main_ygs1.merge(main_pricebook1, how='inner',left_on='Material/Model', right_on='Model_Model Number')

writer = pd.ExcelWriter('data_files/pricebookcheck.xlsx', engine='xlsxwriter')
df.to_excel(writer, sheet_name='checked')
writer.save()

In [65]:
import numpy as np